@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0f111a;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    padding: 8px;
    color: #db2b39;
}

h3 {
    text-align: center;
    margin: 4px;
}

aside {
    background-color: #12141f;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 33%;
    filter: drop-shadow(0px 0px 2px black);
}

iframe {
    width: 100%;
    height: 100%;
}

#sections {
    width: 67%;
}

.split {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bar {
    width: 67%;
    background-color: #10121b;
    background: linear-gradient(45deg, #10121b 0% 75%, #db2b39 75% 76%, #10121b 76% 80%, #db2b39 80% 82%, #10121b 82% 90%, #db2b39 90%);
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    filter: drop-shadow(0px 0px 2px black);
    z-index: 1;
}

.bar p {
    color: #db2b39;
}