img {
    width: 190px;
    height: 280px;
    object-fit: cover;
    border-radius: var(--rounded);
}

a {
    text-decoration: none;
}

.flex {
    max-width: 190px;
    background-color: var(--bg-cover);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition-duration: var(--duration);
    transition-property: transform;
    filter: var(--shadow);
    border-radius: var(--rounded);
}

.flex:hover {
    transform: scale(1.09);
}