a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.rect {
    background-color: var(--bg-episode);
    margin: 8px;
    padding: 8px;
    border-radius: var(--rounded);
    filter: var(--shadow);
    transition-duration: var(--duration);
    transition-property: background-color;
}

.rect:hover {
    background-color: var(--fg-secondary);
}

slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}