a {
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    min-width: 240px;
    height: 25vh;
    margin: 8px;
}

.rect {
    background-size: cover;
    background-color: var(--bg-episode);
    border-radius: var(--rounded);
    filter: var(--shadow);
    width: 100%;
}

.gradient:hover {
    color: var(--fg-primary);
    padding-left: 8px;
}

.gradient {
    transition-duration: var(--duration);
    height: 100%;
    border-radius: var(--rounded);
    background-image: linear-gradient(0deg, var(--bg-episode), var(--bg-transparent));
}

p {
    margin: 8px;
    position: absolute;
    bottom: 0;
}