#floater {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 18rem;
    left: -14rem;
    bottom: 20px;
    background: url("/resources/camo.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    color: white;
    transition-duration: var(--duration);
}

#floater:hover {
    left: 0%;
}

p {
    padding: 0 1rem;
}

#icon {
    font-size: 1.5em;
}

#camo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: var(--bg-dark);
    z-index: 10;
}