#floater {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 18rem;
    right: -14.2rem;
    bottom: 20px;
    background: url("../resources/camo.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    color: white;
    transition-duration: var(--duration);
    filter: var(--shadow);
    border-radius: var(--rounded);
}

#floater:hover {
    right: 0%;
}

#icon {
    padding: 0 1rem;
}

#icon {
    font-size: 1.5em;
}

#camo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: var(--bg-dark);
    z-index: 10;
}

#left {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

p, input {
    margin: 4px 0px;
    padding: 0;
}

#desc {
    font-size: 0.6em;
}

input:focus {
    outline: none;
    border-color: var(--fg-primary);
}

input {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    transition-duration: var(--duration);
}

input::placeholder {
    color: var(--fg-secondary);
}

kbd {
    font-family: monospace;
    font-weight: bold;
    background: var(--fg-secondary);
    color: var(--fg-primary);
    border-radius: 4px;
    padding: 0.3em;
}