.wrapper {
    position: relative;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* display: none; */
    z-index: 1;
}

#fullscreen {
    justify-self: end;
}