input {
    display: flex;
    /* flex-grow: 1; */
    margin: auto;
    padding: 2px 4px;
    border: 2px solid transparent;
    border-radius: var(--rounded);
    background-color: var(--bg-dark);
    color: white;
    transition-duration: var(--duration);
}

::placeholder {
    color: var(--fg-secondary);
}

input:focus {
    outline: none;
    background-color: var(--bg-medium);
    border-color: var(--fg-primary);
}

input:not(:placeholder-shown):not(:focus) {
    border-color: var(--fg-primary);
    border-width: 1px;
    color: var(--fg-secondary);
}