section {
    padding: 8px;
}

slot {
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-x: scroll;
    overflow-y: auto;
    scrollbar-width: none;
}

slot::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
}

h2 {
    text-transform: capitalize;
    color: #db2b39;
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 8px;
}