section {
    padding: 8px;
    width: 100%;
    position: relative;
}

slot {
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-x: scroll;
    overflow-y: auto;
    scrollbar-width: none;
}

slot::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
}

h2 {
    text-transform: capitalize;
    color: #db2b39;
    font-size: 2em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.scrollbtn {
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 4px;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: calc(50% - 24px);
    background-color: #12141f;
    color: #2e324e;
    font-size: 30px;
    transition-duration: 200ms;
    transition-property: color, background;
    display: none;
    font-weight: bold;
}

.scrollbtn:focus {
    outline: none;
}

.scrollbtn:hover {
    background-color: #2e324e;
    color: #db2b39;
}

.left {
    left: 0px;
}

.right {
    right: 16px;
}

